/* body 태그에 기본적으로 마진과 패딩이 적용되므로 이를 지우려고 */
/* body {
  margin: 0;
  padding: 0;
} */

#banner {
  /* 반응형 처리 */
  max-height: 300px;
}

#banner > img {
  width: 100%;
  /* 반응형 처리 */
  max-height: 300px;
}

#body > h1 {
  margin-top: 16px;
}

#product-list {
  display: flex;
  /* 자식들의 width가 더 크므로 줄바꿈을 넣지 않으면 줄어든채로 부모를 채운다 */
  /* wrap으로 줄바꿈을 넣어 자식의 width를 유지시킴 */
  flex-wrap: wrap;
  margin-top: 12px;
}

.product-card {
  width: 180px;
  height: 300px;
  /* 아이템끼리 붙어있어서 마진을 준다 */
  margin-right: 12px;
  margin-bottom: 12px;
  border: 1px solid rgb(230, 230, 230);
  /* 테두리를 둥글게 하려면 */
  border-radius: 12px;
  /* 테두리가 둥글어져 테두리를 이미지가 덮게되어 해결하려면 */
  overflow: hidden;
  /* 자식의 앱솔루트 포지션과 연관되어 사용 */
  position: relative;
}

.product-blur {
  /* 앱솔루트는 주변 태그 상관없이 부모(포지션이 relative) 기준으로 위치 조정 */
  position: absolute;
  /* 네가지 면 전부 차지하도록 */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* 뒤에 두자리는 투명도 (16진수표현) */
  background-color: #ffffffaa;
  /* 뒤에 있는 태그들이 가려져 클릭이 되지 않으므로 클릭 무시처리 */
  pointer-events: none;
}

.product-image {
  width: 100%;
  height: 210px;
  /* 가로세로 비율 맞추어 이미지 크기 변환시 */
  object-fit: contain;
}

.product-contents {
  display: flex;
  /* span은 줄바꿈이 되지 않으므로 수직으로 자식들을 정렬시키려고 */
  flex-direction: column;
  padding: 8px;
}

.product-name {
  font-size: 14px;
}

.product-price {
  font-size: 16px;
  font-weight: 600;
  margin-top: 4px;
}

.product-seller {
  display: flex;
  align-items: center;
}

.product-avatar {
  /* 보통 width만 설정하고 height는 가로세로 비율에 따라 알아서 조절됨 */
  width: 24px;
}

/* 리액트의 link를 사용하면 html 상에서 <a>태그로 변경되고 텍스트에 색상이 변경되고 밑줄이 생김 */
/* 이를 방지하기위한 스타일 지정 */
.product-link {
  /* 색깔을 자식들의 원래색깔로 */
  color: inherit;
  /* 밑줄 사라짐 */
  text-decoration: none;
}

.product-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 12px;
}

.prodcut-date {
  font-size: 12px;
  color: rgb(136, 136, 136);
}

#product-headline {
  margin-top: 8px;
}
