/* index.css에서 바디에 높이 100프로를 하더라도 기존의 app.css에서 더 상위 선택자에 높이를 지정하면 해당 스타일이 적용된다*/
html,
body,
#root,
#root > div {
  height: 100%;
}

/* 모든 태그에 기본적으로 마진과 패딩이 적용되므로 이를 바꾸려면 */
* {
  margin: 0;
  padding: 0;
  /* antd에 기본값으로 적용된걸 다시 덮어씀 */
  /* 줄 간격 일반으로 */
  line-height: normal;
}

/* 기존 main/index.css 의 스타일을 옮김 (공통 부분인 헤더,푸터 태그를 app.js로 빼서) */
#header {
  height: 64px;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid gray;
}

#header-area {
  width: 1024px;
  height: 100%;
  display: flex;
  align-items: center;
  /* 자식들을 양끝으로 배치하기 위해서 */
  justify-content: space-between;
}

/* 기존 > img로 상위선택자로 표현했으나 둘 사이에 Link 태그가 추가되면서 하위선택자로 변경 */
/* 자식 전채중에 img 태그를 선택한다는 의미 */
#header-area img {
  width: 128px;
  height: 36px;
}

#body {
  /* %는 부모기준 상위 선택자가 많아지면 자연스럽게 작아진다 */
  /* vh는 윈도우창 기준 100vh가 윈도우창 크기 */
  /* height: 100vh; */
  /* 반응형 처리 최소를 지정해 바디가 배너를 침범하는 경우 막음 */
  min-height: 100vh;
  /* width: 1024px; 기존 코드 PC만 대응 */
  /* 반응형( 모바일 환경을 위해) 처리, 최대 width 픽셀을 넘지 않지만 작으면 width 100%에 맞춰짐 */
  max-width: 1024px;
  width: 100%;
  /* flex의 justify를 사용하지 않고도 가능 */
  /* 부모로부터 가운데 정렬 */
  margin: 0 auto;
  /* footer랑 붙어있어 띄우려고 */
  padding-bottom: 24px;
}

#footer {
  height: 200px;
  background-color: rgb(230, 230, 230);
}

/* 반응형 웹을 위한 mediaQuery 사용 */
/* 스크린을 사용할때는 주로 너비를 기준으로 사용 */
@media screen and (max-width: 400px) {
  .product-card {
    /* 셀렉터에 대해서 css가 여러개 있을 때 맨 마지막이 기준이나 !important를 사용해 강제 적용(사용 비추천) */
    /* 모바일에서는 해당 픽셀로 */
    width: 160px !important;
  }
  #header {
    padding: 0 8px;
  }

  #body {
    padding: 0 8px;
  }

  /* 캐러셀 기본 클래스명 */
  .and-carousel {
    /* 마이너스는 반대로 넓힌다는 뜻 */
    margin: 0 -8px;
  }
}
